@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #dccccc;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 57px;
    padding: 0px 0px;
    margin-left: 58px;
}

.navbar {
    padding: 0px;
}

.navbar-nav {
    margin-top: 15px;
}

.collapse .btn {
    margin-right: 49px;
    margin-bottom: 5px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* height: 90vh; */
}

.carousel-item img {
    margin-top: 65px;
    height: 90vh;
    filter: brightness(0.5);
}


.carousel-box {
    position: absolute;
    right: 15%;
    bottom: 2.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-indicators{
    bottom: 10px;
}

.carousel-control-next-icon {
    border-radius: 12px;
    background-color: #b3a7a7;
}

.carousel-control-prev-icon {
    border-radius: 12px;
    background-color: #b3a7a7;
}

img,
svg {
    vertical-align: middle;
    border: 1px solid;
    border-radius: 3px;
    width: 60%;
}

.my-4 {
    margin-top: 4.5rem!important;
    margin-bottom: 1.5rem!important;
}
